extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(href='https://fonts.googleapis.com/css?family=Raleway:200', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')

block content
  .container
    #map
    .right-half
      .posts-banner 
        p User
      .posts-container
        .post-container
          h3.post-title #{postData.username}
          hr
          .post-img
            img(src='http://ovenbakedtradition.com/wp-content/uploads/communaute/2011/06/bigstockphoto_woman_with_cat_734854.jpg')
          hr
          h3 Contact Email
            h5 #{postData.email}
          h3 About
            h5 #{postData.about}
          h3 Rating
            h5 #{postData.rating}
          h3 Comments
              each item in postData.comment
                h5= item.text + '     --' + item.commenter        
  script(src='/javascripts/map.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBtH3mU3MCHy5eit3re5KJl12UUOySL9cc&callback=initMap', async='', defer='')